.example-card {
    max-width: 400px;
    height: 400px;
  }
  
  .example-header-image {
  
  }
  form{
      margin-left: 20px;
  }
  mat-card{
      margin-top: 10px;
  }
  .container{
    display:inline-flex;
    flex-direction: column;
  }
  .item{
    order: 2;
  }
  .action{
    position:absolute;
    bottom: 10px;
  }
  img{
      border: 1px solid lightblue;
      width: 90%;
      margin-left: 15px;
  }