<mat-sidenav-container>
    <mat-sidenav mode="push" [(opened)]="opened">
        <span (click)="opened = !opened" class="material-icons" style="float: right;">
          cancel
          </span>
          <mat-nav-list class="mat-list-caption">
              <nav>
                <a class="button" mat-list-item [routerLinkActive]="'active'" [routerLink]="['/products']">Products</a> 
              </nav>
              <nav>
                <a class="button" mat-list-item [routerLinkActive]="'active'" [routerLink]="['/cart']">Cart</a>
              </nav>
          </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="container" style="border-bottom: 1px solid whitesmoke;">
        <div class="row">
          <div class="col-3">
            <div class="mt-2">
              <button mat-icon-button class="ham-btn" [routerLinkActive]="'active'" [routerLink]="['/products']" > <mat-icon><span class="material-icons-outlined">
                view_list
                </span>
              </mat-icon> 
            </button>
            <h6 class="mt-1">Products</h6>
            </div>
          <div class="mt-2">
            <button class="ham-btn" mat-icon-button
            [routerLinkActive]="'active'" [routerLink]="['/cart']"
            (click)="showCart()"> <mat-icon matBadge="{{cS.totalSelectedProducts | async}}" ><span class="material-icons">
              shopping_cart
              </span>
            </mat-icon> 
          </button>
          <h6 class="mt-1">Show Cart</h6>
          </div>
          </div>
          <div class="col-9">
            <div>
              <h2 class="display-1" style="color: whitesmoke;">Brand Name</h2>
            </div>
          </div>
        </div>
      </div>
     <!-- <div class="split">
      <as-split direction="horizontal" disabled="true">
        <as-split-area [size]="70" style="padding-right: 15px">
          <app-products>
          </app-products>
        </as-split-area>
        <as-split-area [size]="30" [visible]="cartVisibility">
          <app-cart></app-cart>
        </as-split-area>
      </as-split>
      </div> -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>