<mat-sidenav-container>
    <mat-sidenav mode="push" [(opened)]="opened">
        <span (click)="opened = !opened" class="material-icons" style="float: right;">
          cancel
          </span>
          <mat-nav-list class="mat-list-caption">
            <mat-list-item>
              Products
            </mat-list-item>
            <mat-list-item>
              abcd
            </mat-list-item>
            <mat-list-item>
              xyz
            </mat-list-item>
            <mat-list-item>
              mnop
            </mat-list-item>
            <mat-list-item>
             qwert
            </mat-list-item>
          </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content>
      <div class="container" style="border-bottom: 1px solid whitesmoke;">
        <div class="row">
          <div class="col-3">
            <div class="mt-2">
              <button class="ham-btn" mat-flat-button (click)="opened = !opened"> <mat-icon><span class="material-icons">
                menu
                </span>
              </mat-icon> 
            </button>
            <h6 class="mt-1">Menu Bar</h6>
            </div>
          <div class="mt-2">
            <button class="ham-btn" mat-flat-button (click)="showCart()"> <mat-icon><span class="material-icons">
              shopping_cart
              </span>
            </mat-icon> 
          </button>
          <h6 class="mt-1">Show/Hide Cart</h6>
          </div>
          </div>
          <div class="col-9">
            <div>
              <h2 class="display-1" style="color: whitesmoke;">Brand Name</h2>
            </div>
          </div>
        </div>
      </div>
     <div class="split">
      <as-split direction="horizontal" disabled="true">
        <as-split-area [size]="70" style="padding-right: 15px">
          <app-products>
          </app-products>
        </as-split-area>
        <as-split-area [size]="30" [visible]="cartVisibility">
          <app-cart></app-cart>
        </as-split-area>
      </as-split>
      </div>
    </mat-sidenav-content>
</mat-sidenav-container>